.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

#scatter_plot {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#choropleth_map {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#stacked_barchart {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

 #time_series {
 	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}


<style>
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  background: #f1f1f1;
}
